global.css 

* {
   margin: 0;
   padding: 0;
}

main {
   width: 100vw;
   height: 100vh;
   display: block;
   position: relative;
   padding-top: 50px;
}

div.container {
   margin-left: 15.981em!important;
   margin-right: 15.981em!important;
}

.title {
   width: 75%;
   float: right;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-style: normal;
   font-variant: normal;
   font-weight: bolder;
}

.title1 {
   width: 100%;
   float: right;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-style: normal;
   font-variant: normal;
   font-weight: bolder;
}

.sub {
   width: 75%;
   font-size: 1.414em;
   float: right;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-style: normal;
   font-variant: normal;
   font-weight: bolder;
}

h1 {
   font-size: 4.7421260316732em;
   margin-bottom: 0%;
}

h1.judul {
   font-size: 4em;
   margin-bottom: 0%;
}

h2 {
   margin-top: 0%;
   font-size: 2.827em;
}

h2.judul {
   margin-top: 0%;
   font-size: 2em;
}

.mainc {
   width: 75%;
   height: auto;
   line-height: 1.414em;
   display: block;
   float: right;
   font-weight: normal;
}

.mainc1 {
   width: 100%;
   height: auto;
   line-height: 1.414em;
   display: block;
   float: right;
   font-weight: normal;
}

.mainc2 {
   width: 75%;
   height: auto;
   line-height: 1.414em;
   display: block;
   float: right;
   font-weight: normal;
}

p {
   font-family: Arial, Helvetica, sans-serif;
   text-indent: 50px;
   text-align: justify;
}

.p-special {
   font-family: Arial, Helvetica, sans-serif;
   text-indent: 0%;
   text-align: justify;
}

h3 {
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 1em;
   font-style: normal;
   font-variant: normal;
   font-weight: bold;
   line-height: 1em;
}

.note {
   width: 20%;
   margin-right: 2em;
   line-height: 1.414em;
   height: auto;
   text-align: justify;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 0.707em;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   float: left;
}

.note-special {
   width: 20%;
   margin-right: 2em;
   margin-top: 55em;
   font-size: 0.707em;
   height: auto;
   text-align: justify;
   font-family: Arial, Helvetica, sans-serif;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   float: left;
}

.nlist {
   width: 75%;
   height: auto;
   line-height: 1.414em;
   display: block;
   float: right;
   text-align: justify;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1em;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
}

.nlist1 {
   width: 100%;
   height: auto;
   line-height: 1.414em;
   display: block;
   float: right;
   text-align: justify;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1em;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
}

.split {
   margin-top: -1em;
}

.enote {
   width: 75%;
   height: auto;
   line-height: 1.414em;
   display: block;
   float: right;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1em;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   text-align: justify;
}

.enote1 {
   width: 100%;
   height: auto;
   line-height: 1.414em;
   display: block;
   float: right;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1em;
   font-style: normal;
   font-variant: normal;
   font-weight: normal;
   text-align: justify;
}

table {
   width: 80%;
}

.links, a:visited {
  background-color: black;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px 20px 20px 20px;
}


.links:active {
  background-color: hotpink;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.links2, a:visited {
  background-color: black;
  color: white;
  padding: 14px 25px;
  margin-left: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px 20px 20px 20px;
}


.links2:active {
  background-color: hotpink;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@media screen and (max-width: 340px) {
   div.container {
      margin-left: 1em!important;
      margin-right: 1em!important;
   }
   
   .title {
      text-align: left;
      width: auto;
      float: none;
   }
   .sub {
      text-align: left;
      font-size: 1em;
      margin: auto;
      margin-bottom: 1em;
      width: auto;
   }
   .h1 {
      font-size: 4.7421260316732em;
      width: auto;
   }
   h1.judul {
      font-size: 2.827em;
      margin-bottom: 0%;
      width: auto;
      margin: auto;
   }
   h2 {
      font-size: 1.4145em;
   }
   h2.judul {
      margin-top: 0%;
      font-size: 1.414em;
   }

   .mainc {
      width: auto;
      margin: auto;
      text-align: justify;
   }
   .mainc2 {
      width: 100%;
      margin: auto;
      text-align: justify;
   }
   .h3 {
      font-size: 1em;
      width: auto;
   }
   .note {
      font-size: 0.707em;
      width: auto;
      margin: auto;
   }
   .note-special {
      font-size: 0.707em;
      width: auto;
      margin: auto;
   }
   .nlist {
      margin: auto;
      width: auto;
   }
   .split {
      margin-top: 1em;
   }
   .first {
      margin-bottom: auto;
   }
   .enote {
      width: auto;
      margin: auto;
   }
   .table {
      width: 100%;
   }
}
