	* {
				margin: 0;
				padding: 0;
			}

			main section.luv {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-left: 43px;
				margin-right: 53px;
			}

			main section.babie {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-left: 43px;
				margin-right: 53px;
			}

			main section.bubs {
				width: 92.8%;
				display: flex;
				justify-content: center;
				align-items: unset;
				margin-left: 43px;
				margin-right: px;
				float: left;
			}

			main section.boss{
				justify-content: center;
				align-items: center;
			}

			.jaemin {
				width: 100vw; /*viewport width*/
				height: 100px;
				margin-top: 10px;
				margin-left: 10px;
			}

			.mark {
				background-color: lightskyblue;
				width: 100%;
				height: 100px;
				margin-top: 10px;
				margin-left: 10px;
				float: left;

			}

			.minhyung {
				background-color: lightskyblue;
				width: 100%;
				height: 50px;
				margin-top: 60px;
				margin-left: 10px;
				float: left;
				justify-content: center;
				align-items: center;

			}

			.chenle {
				height: 150px;
				width: 100%;
				background-color: deepskyblue;
				float: left;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-left: 10px;
				margin-top: 10px;
				}

			.jaemin {
				width: 170vh;
				height: 100px;
				background-color: aquamarine;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-left: auto;
				margin-right: auto;
				margin-top: 10px;
			}

			.hyunjin {
				width: 100%;
				height: 120px;
				background-color: lavender;
				margin-top: 10px;
				margin-left: 10px;
				float: left;

			}

			.dejun {
				width: 100%;
				height: 70px;
				background-color: plum;
				margin-top: 10px;
				margin-left: 10px;
				float: left;
			}
