* {
	margin: 0;
	padding: 0;
}
header {
	margin-left: 89px;
	width: 32.12vw;
	height: 40px;
	background-color: grey;
	font-family: sans-serif;
	font-size: 21px;
	font-weight: bold;
	display: flex;
	color: white;
	padding-left: 10px;
	text-align: left;
	align-items: center;
}

main section.luv {
	position: relative;
	display: flex;
	justify-content: center;
	margin-left: 500px;
	text-align: right;
	font-family: sans-serif;
	left: 200px;
	top: -40px;
}

.chenle {
	font-weight: bold;
	font-size: 25px; 
	position: relative;
	top: -75px;
	left: -40px;

}

.jaemin {
	font-size: 120px;
	font-weight: bold;
	position: relative;
	top: -50px;
	right: 170px;
}

.mark {
	background-color: lavender;
	width: 12vw; 
	height: 55px;
	margin-left: 10px;
	margin-bottom: 20px;
	border-radius: 15px;
	text-align: left;
	display: flex;
	position: relative;
	padding: 15px;
	right: 385px;
	top: 90px;

}

table.table1 {
	width: 30%;
	border-collapse: collapse;
	margin-left: 130px;
	margin-right: auto;
	margin-top: 5px;
	vertical-align: top;


}

table.table1 thead, table.table1 th, table.table1 td {
 	border-collapse: collapse;
 	border: 1px solid lightgrey;
	color: white;
	font-family: sans-serif;
	vertical-align: top;
	text-align: left;
	align-items: left;
	padding-left: 10px;
	padding-right: 10px;
}

table.table1 thead, table.table1 th {
	background-color: grey;
}

table.table1 tbody, table.table1 td {
	height: 25px;
	padding-left: 5px;
	color: black;
}


table.table2 {
	margin: 50px;
	width: 30vw;
	font-family: sans-serif;
	text-align: left;
	float: right;
	margin-left: 89px;
	position: relative;
	bottom: 580px;
	right: 350px;
}

table.table2 thead, table.table2 th{
	border-color: deepskyblue;
	border-width: 0 0 2px 0;
	border-style: none none solid none;
	text-align: left;
	padding-bottom: 5px;
	font-size: 22px;
}

table.table2 tbody, tr, td {
	width: 120px;
	padding-bottom: 10px;
}

table.table2 td:first-child {
	font-size: 40px;
	text-align: left;
}

table.table2 td:third-child {
	width: 10px;
	height: 10px;
}

table.table3 {
	margin-top: 50px;
	font-family: sans-serif;
	position: relative;
	bottom: 145px;
	width: 550px;
	height: 50vh;
	margin-left: 130px;
	text-align: left
}

table.table3 th:first-child {
	font-size: 30px;
	color: green;
	border-color: green;
	border-width: 20px;
	border-bottom-width: medium;
	border-style: none none solid none;
	margin-bottom: 40px;
}

table.table3 tbody, table.table3 td {
	padding-top: 10px;
	width: 30vw;
}

