* {
	margin: 0;
	padding: 0;
}
header {
	margin-left: 89px;
	width: 24.2vw;
	height: 40px;
	background-color: grey;
	font-family: sans-serif;
	font-size: 21px;
	font-weight: bold;
	display: flex;
	color: white;
	padding-left: 10px;
	text-align: left;
	align-items: center;
	min-width: 400px;
}

main section.luv {
	position: relative;
	display: flex;
	justify-content: center;
	margin-left: 500px;
	text-align: right;
	font-family: sans-serif;
	left: 200px;
	top: -40px;
}

.chenle {
	font-weight: bold;
	font-size: 25px; 
	position: absolute;
	top: 15px;
	left: 55px;

}

.jaemin {
	font-size: 120px;
	font-weight: bold;
	position: absolute;
	top: 40px;
	left: 95px;
}

.mark {
	background-color: lavender;
	width: 18%; 
	height: 6vh;
	border-radius: 15px;
	text-align: left;
	position: absolute;
	padding: 10px;
	padding-bottom: 15px;
	right: 970px;
	top: 180px;

}

table.table1 {
	width: 23%;
	border-collapse: collapse;
	margin-left: 120px;
	margin-right: auto;
	margin-top: 5px;
	vertical-align: top;
	position: absolute;
	min-width: 380px;


}

table.table1 thead, table.table1 th, table.table1 td {
 	border-collapse: collapse;
 	border: 1px solid lightgrey;
	color: white;
	font-family: sans-serif;
	vertical-align: top;
	text-align: left;
	align-items: left;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;

}

table.table1 thead, table.table1 th {
	background-color: grey;
}

table.table1 tbody, table.table1 td {
	height: 25px;
	padding-left: 5px;
	color: black;
}


table.table2 {
	margin: 50px;
	width: 25%;
	font-family: sans-serif;
	text-align: left;
	position: absolute;
	left: 520px;
	top: 220px;
	min-width: 350px;
	max-width: 350px;
}

table.table2 thead, table.table2 th{
	border-color: deepskyblue;
	border-width: 0 0 2px 0;
	border-style: none none solid none;
	text-align: left;
	padding-bottom: 5px;
	font-size: 22px;
}

table.table2 tbody, tr, td {
	width: 120px;
	padding-bottom: 10px;
}

table.table2 td:first-child {
	font-size: 40px;
	text-align: left;
}

table.table2 td:third-child {
	width: 10px;
	height: 10px;
}

table.table3 {
	font-family: sans-serif;
	position: absolute;
	width: 500px;
	height: 50%;
	top: 190px;
	max-width: 500px;
	margin-left: 115px;
	text-align: left;
	display: block;

}

table.table3 th:first-child {
	font-size: 30px;
	color: green;
	border-color: green;
	border-width: 20px;
	border-bottom-width: medium;
	border-style: none none solid none;
	margin-bottom: 40px;
}

table.table3 tbody, table.table3 td {
	padding-top: 10px;
	width: 60vw;
	min-width: 330px;
}

